################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1
/HelloWorld
/HelloWorld2
/Solution1
/TestingSwaggerAPI
/CSharpPractices
